.journal__main-content{
    display: flex;
}
main{    
    background: $light-orange;
    width: 76vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.journal__sidebar{
    height: 100vh;
    background-color: $dark-orange;
    padding: 1rem;
    width: 24vw;
    overflow: hidden;

    .journal__sidebar-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .journal__logout-btn{
        background-color: $primary-font;
        color: $white;
        border: none;
        box-shadow: $shadow;
        border-radius: $radius;
        padding: 5px 15px;
        cursor: pointer;
        font-size: 1rem;
    }

    .journal__new-entry{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        cursor: pointer;
        margin: auto;
        margin-top: 2rem;
    }
    
}

.journal__entries{
    overflow: auto;
    height: calc(100vh - 280px);

    .journal__entry{
        box-shadow: $shadow;
        margin-bottom: 1rem;
        padding: .5rem;
        display: flex;
        justify-content: space-between;

        &.active{
            background-color: $light-orange;
        }

    }   

    .journal__entry-picture{
        min-width: 30%;
    }
    .journal__entry-body{
        padding-left: .5rem;

        *{
            color: $white;
        }
        .journal__entry-title{
            font-weight: 600;
            font-size: 1rem;
        }
    }

}